*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
:root{
    --primary-color: #6464ff;
    --dark-color: #111111;
}
/* sec1 */
.logo{
    width: 20rem;
    height: auto;
    margin-bottom: 5vw;
}
.homePageHeroText, .homePageHeroText span{
    font-size: 5rem;
    width: 50%;
    font-weight: 700;
    font-family: 'Space Grotesk', sans-serif;
    line-height: 5rem;
}
.homePageHeroText span{
    color: var(--primary-color);
}
.btnStyle{
    background-color: var(--primary-color);
    font-size: 1.5rem;
    padding: 10px 30px 10px 30px;
    color: white;
    font-weight: 500;
    border-radius: 100px;
    border: none;
}
.abstract{
    position: absolute;
    right: 0;
}
.sec1{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.btn-homePage{
    margin-top: 25px;
}
@media screen and (max-width: 1546px) {
    .sec1, .homePageHeroText{
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0 80px 0 80px;
    }
    .abstract{
        display: none;
    }
}
/* sec1 */